.tournament-container {
  display: none;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  justify-content: center;
}

.first-clmn {
  display: flex;
  flex-direction: column;
}

.seventh-clmn {
  display: flex;
  flex-direction: column;
}

.scnd-clmn,
.winner {
  display: flex;
  flex-direction: column;
}

.winner {
  margin: 8rem 4rem;
  align-items: center;
  font-size: 16px;
}

.scnd-clmn .winner div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1.7px dashed #bbc7d6;
  display: flex;
  justify-content: center;
  margin: 0 2rem;
}

.scnd-clmn .battle-winner-container {
  justify-content: center;
}

.scnd-clmn .battle-winner-container,
.scnd-clmn .battle-winner-container .bracket {
  display: flex;
  flex-direction: row;
  align-items: center;
}

 .scnd-clmn .battle-winner-container .bracket {
  width: 4rem;
  height: 10rem;
  border: 1.7px solid #bbc7d6;
  border-left: none;
  justify-items: center;
}

.tournament-container .scnd-clmn .battle-winner-container .bracket div {
  position: absolute;
  margin-left: 4rem;
  height: 2px;
  width: 5.5rem;
  background-color: #bbc7d6;
}
.tournament-container .last-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tournament-container .last-row .battle-winner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tournament-container .last-row .battle-winner-container {
  align-items: center;
}
.tournament-container .last-row .battle-winner-container .final-bracket {
  width: 5rem;
  height: 5rem;
  border: 1.7px solid #bbc7d6;
  border-bottom: none;
  margin-bottom: 16rem;
}

.tournament-container .last-row .battle-winner-container .final-bracket .div {
  width: 2px;
  height: 50px;
  background-color: #bbc7d6;
}
.tournament-container .last-row .battle-winner-container .bracket {
  margin: 0 1rem 0 -5rem;
  width: 4rem;
  height: 20rem;
  border: 1.7px solid #bbc7d6;
  border-left: none;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.tournament-container .last-row .battle-winner-container .bracket div {
  position: absolute;
  margin-left: 4rem;
  height: 2px;
  width: 4rem;
  background-color: #bbc7d6;
}
.tournament-container .winner {
  flex-direction: column;
  margin: 8rem 4rem;
  align-items: center;
  font-size: 16px;
}
.tournament-container .winner,
.tournament-container .winner div {
  display: flex;
}
.tournament-container .winner div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1.7px dashed #bbc7d6;
  justify-content: center;
}

.tournament-container .final-winner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 7rem;
  font-size: 16px;
}
.tournament-container .final-winner .final-bracket {
  margin-top: 5rem;
  width: 12.7rem;
  height: 4rem;
  border: 1.7px solid #bbc7d6;
  border-bottom: none;
}
.tournament-container .final-winner .final-bracket div {
  height: 4rem;
  width: 2px;
  background-color: #bbc7d6;
  margin: -90px 50% 0;
}

.tournament-container .final-winner .final-bracket p {
  margin-top: 10px;
  text-align: center;
}

.tournament-container .final-winner .battle-winner-container {
  align-items: center;
  justify-content: center;
}
.tournament-container .final-winner .battle-winner-container p {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 900;
}
.tournament-container .final-winner .battle-winner-container div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1.7px dashed #bbc7d6;
  display: flex;
  justify-content: center;
}

.heroWinner {
  margin-top: -2px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;  
}

.big-pic {
  margin: 35px 20px 25px 20px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.small-pic {
  margin-top: -1px;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.loosingChamp {
  filter: grayscale(100%);
}